* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.carousel-container, .carousel2-container2, .carousel3-container3 {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

.carousel, .carousel2, .carousel3 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide, .slide2, .slide3 {
    min-width: 100%;
    transition: opacity 0.5s ease;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}
.slide2 img {
    width: 100%;
    border-radius: 10px;
}
.slide3 img {
    width: 100%;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
